<? if (data.length !== 0) { ?>
<!-- google app script template forloop -->
<? for (let i=0; i < data.length; i++) { ?>
<tr>
  <td>
    <?= i + 1 ?>
  </td>
  <td class="datetime">
    <?= Utilities.formatDate(new Date(data[i].timestamp), Session.getScriptTimeZone(), "HH:mm:ss.SSS") ?>
  </td>
  <td>
    <?= data[i].name ?>
  </td>
  <td>
    <?= data[i].artist ?>
  </td>
  <td>
    <?= data[i].note ?>
  </td>
</tr>
<? } ?>
<? } else { ?>
<tr>
  <td colspan="5" class="empty-queue">ไม่มีเพลงในคิว</td>
</tr>
<? } ?>